#v-line {
    width: 120px;
    height: 2px;
    transform: rotate(90deg);
    margin-top:4%;
    background-color: whitesmoke;
    opacity: 0.5;
}

#home {
    width:65px;
    height:65px;
    color:white;
    margin:auto;
    font-family: 'Exo', sans-serif;
    padding:10px;
    border:solid;
    border-width:2px;
    border-radius:50%; 
}

#residential {
    width:65px;
    height:65px;
    color:white;
    margin:auto;
    font-family: 'Exo', sans-serif;   
    padding:12px;
    border:solid;
    border-width:2px;
    border-radius:50%; 
}

.card {
    border:none;
    width:17%;
    text-align:center;
    color:white;
    font-family: 'Exo', sans-serif;
    background:transparent;
}

#services-block {
    display:flex;
    flex-direction:row;
    width:100%;
    padding-left:25%;
    padding-top:5%;
    background:url("water2.jpg") no-repeat center fixed;
    background-size:cover;
    height:300px;
}