#footer {
    background-color:#2f2e2e;
    color:white;  
    width:100%;
    position: relative;
    bottom:0;
}

#copyright {
    padding-bottom:2%;
    font-size:10px;
    line-height:10px;
    text-align: center;
}

#company-content {
    padding-top:3%;
    text-align:left;
    margin-left:50px;
    line-height:10px;
    font-size:12px;
}

#bbb-logo {
    width:4%;
    margin-bottom:13px;
}

#bbb {
    text-align: center;
}