.App {
  text-align: center;
  height:100% !important;
}

#bottom {
  position: absolute !important;
  bottom:0 !important;
  width:100%;
}


/*root body style*/

#body
{
  background-image: url("https://images.unsplash.com/photo-1554825959-e9a6670d4f18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  height:100% !important;
  position:relative;
}


